TotechsStrypper
#9388



Direct Message
Evatron
Search

July 12, 2022

Evatron — 07/12/2022
thề em 0 hề muốn làm sql hoàn toàn thay thế .net core hiện tại
[8:30 PM]
em 0 muốn mình cài 3 năm sao đập bỏ xây lại

TotechsStrypper — 07/12/2022
Bruh
[8:54 PM]
Ghi sql là store prod đấy

Evatron — 07/12/2022
nó đó

TotechsStrypper — 07/12/2022
1 trong những anh sắp học đấy

Evatron — 07/12/2022
em nói ra nó nói đúng r

TotechsStrypper — 07/12/2022
Nó compiled chạy nhanh lắm

Evatron — 07/12/2022
đúng r
[8:55 PM]
nhưng mà em 0 muốn làm ngày thứ 7
[8:58 PM]
em nghe xong em muốn zo r
[8:58 PM]
em tính làm 1 năm
[8:58 PM]
xong chạy
[8:58 PM]
nhưng mà nó làm thứ 7

TotechsStrypper — 07/12/2022
Lời khuyên của anh 
Em nên đi làm sớm nhất có thể
[10:55 PM]
dù gì đây cũng chỉ 6 tháng đến 1 năm cho em hiểu cảm giác làm

Evatron — 07/12/2022
cảm giác làm + học thì đúng hơn :((((
[11:06 PM]
để em hỏi lại hợp đồng

TotechsStrypper — 07/12/2022
em đang suy nghĩ quá

Evatron — 07/12/2022
em 0 muốn ở đó 1 năm đâu

TotechsStrypper — 07/12/2022
họ đang làm sql bình thường thôi
[11:06 PM]
rồi interact chắc bằng EF bên trên

Evatron — 07/12/2022
em đang lo cho em là em sẽ 0 hoàng thành đc cái j hết nếu em làm cả 2
[11:07 PM]
1 lượt

Evatron — 07/12/2022
tại vì nếu thứ 7 nó cần em lên làm quiz hay j đó mà mid em fail thì có khi là em phải ôn final sml

TotechsStrypper — 07/12/2022
ukm vậy kiếm công ty khác đi em

Evatron — 07/12/2022
em còn nhiều công ty lắm
[11:17 PM]
em cũng muốn học database
[11:17 PM]
nếu mà nó 0 có thứ 7 thì em đã 0 hỏi anh

TotechsStrypper — 07/12/2022
ukm

Evatron — 07/12/2022
em còn mấy công ty nữa để pv
[11:21 PM]
để xem sao cái mà coi như ngon nhất thì em đã từ chối nó là TMA
July 14, 2022

Evatron — 07/14/2022
anh ơi em nghĩ là em xin nốt 3 công ty nữa thôi em không xin nữa
[2:58 PM]
tại vì em thấy thời khóa biểu của em nó còn dầy quá
[2:58 PM]
tận 7 môn

TotechsStrypper — 07/14/2022
Rồi ok em

Evatron — 07/14/2022
có tới 4 cái lab
[2:59 PM]
nếu mà có công ty nào đó đc phép nghỉ 1 ngày và 0 làm thứ 7 thì em sẽ vào

TotechsStrypper — 07/14/2022
Vậy em lo đăng ký các môn trong kỳ sau đi em
[2:59 PM]
học xong rồi đi làm luôn

Evatron — 07/14/2022
em all in lun á
[3:00 PM]
em oải lắm r xin 6 công ty tk nào cũng nhìn tkb mà lắc đầu
July 19, 2022

Evatron — 07/19/2022
à anh ơi

TotechsStrypper — 07/19/2022
?

Evatron — 07/19/2022
em kẹt mốt số việc ở quê á
[6:55 PM]
nó kh6ng như dự tính t
[6:55 PM]
r
[6:56 PM]
chừng nào em ok lại em báo anh vs em tiếp tục project (edited)
[6:57 PM]
em báo anh trước 0 kiểu em hụp lâu quá 0 thông báo thì không ổn

TotechsStrypper — 07/19/2022
oh ok
[6:58 PM]
đang dính gì dưới đó thế

Evatron — 07/19/2022
nhà đất vs ba cái giấy tờ
[6:59 PM]
vs em tính về nhà chích mủi 4 covid
[7:00 PM]
chắc là t7 em lên lại tại có người đưa khỏi đi xe đò chắc em xong sớm hơn (edited)
[7:01 PM]
em quay lại project sớm nhất có thể
July 28, 2022
TotechsStrypper
 started a call that lasted 10 minutes.
 — 07/28/2022

TotechsStrypper — 07/28/2022
script-migration -f "20220725195525_Animal_PetColor" -t "20220726172840_User_RemovePricipalProps"

1

Evatron — 07/28/2022
oop
[1:15 AM]
nhấn nhầm
[1:15 AM]

[1:16 AM]
ok để em xem em báo lại vs anh cho
TotechsStrypper
 started a call that lasted 9 minutes.
 — 07/28/2022
TotechsStrypper
 started a call that lasted 3 minutes.
 — 07/28/2022

TotechsStrypper — 07/28/2022
Long gọi anh khi em avaible nhé

@TotechsStrypper
Long gọi anh khi em avaible nhé

Evatron — 07/28/2022
hoi hết available r anh 

TotechsStrypper — 07/28/2022
ukm vậy để anh handle cái 6 digit code luôn
[9:16 PM]
còn côgn ty phỏng vấn thế nào rồi ?

@TotechsStrypper
ukm vậy để anh handle cái 6 digit code luôn

Evatron — 07/28/2022
ơ cách như nào rồi :(((( sao anh làm lun r

@TotechsStrypper
còn côgn ty phỏng vấn thế nào rồi ?

Evatron — 07/28/2022
em đậu r

TotechsStrypper — 07/28/2022
Vậy tháng 9 này vào chung với Tân đúng ko ?

@TotechsStrypper
Vậy tháng 9 này vào chung với Tân đúng ko ?

Evatron — 07/28/2022
đúng r anh

TotechsStrypper — 07/28/2022
Bữa em phỏng vấn với ai

Evatron — 07/28/2022
em hổm pv vs Roeland
August 2, 2022

TotechsStrypper — 08/02/2022
Long anh cần làm task này urgent

Evatron — 08/02/2022
oop anh có nhắn j em à

TotechsStrypper — 08/02/2022
cái petaverse tool
[6:51 PM]
bh cái database anh không đảm bảo
[6:52 PM]
nên những dữ liệu của petaverse ít nhất cũng phải có 1 cái giao diện insert và o
[6:52 PM]
cái dự án này phải làm anh
[6:52 PM]
nhanh

Evatron — 08/02/2022
em hiểu òi
[6:52 PM]
nhưng mà thứ 5 có gắp quá hong

TotechsStrypper — 08/02/2022
không tối nay anh phải thức đêm để làm ấy
[6:52 PM]
cơ mà tối nay em qua nhà anh được càng tốt
[6:52 PM]
anh hướng dẫn ghi cái refit

@TotechsStrypper
không tối nay anh phải thức đêm để làm ấy

Evatron — 08/02/2022
anh làm cái petaverse à

TotechsStrypper — 08/02/2022
uk

TotechsStrypper — 08/02/2022
Làm tới đâu rồi em
[7:47 PM]
cần anh giúp ko
[7:47 PM]
mấy cái này làm nhanh lắm

Evatron — 08/02/2022
em đang làm interface

TotechsStrypper — 08/02/2022
interface của gì em ơi

Evatron — 08/02/2022
của breed

TotechsStrypper — 08/02/2022
Làm kiểu mì ăn liền trước đi em
[7:49 PM]
Copy hết đống DTO rồi bỏ vào app

Evatron — 08/02/2022
đói quá 

TotechsStrypper — 08/02/2022
sử dụng thẳng http client đẩy lên

Evatron — 08/02/2022
đang chạy thử chờ chút
[9:05 PM]
chạy thử cái get breed :v
August 4, 2022

Evatron — 08/04/2022
anh ơi em push đc chưa
[6:29 PM]

[6:29 PM]
em bí zòi

TotechsStrypper — 08/04/2022
Push gì ấy em

Evatron — 08/04/2022
à cái em làm á
[7:23 PM]
hổm anh nói sáng mai push
[7:24 PM]
nhưng mà em méo thấy động tỉnh j nên là nay hỏi lại
[7:24 PM]
push cái portal á
[7:31 PM]

[7:31 PM]
o7 kia2
[7:31 PM]
ơ kìa

TotechsStrypper — 08/04/2022
cái remote đúng ko
[8:07 PM]
đợi anh xíu
[8:08 PM]
https://github.com/Strypper/PetaversePortalMAUI.git
GitHub
Strypper/PetaversePortalMAUI
A project port to cross-platform app to manage Petaverse database and information - Strypper/PetaversePortalMAUI

[8:08 PM]
remote đây em

Evatron — 08/04/2022
0 có quyền

TotechsStrypper — 08/04/2022
ok để gửi mail
[8:16 PM]
lấy anh cái tên của em với
[8:16 PM]
tên github của em
[8:21 PM]
em owi
[8:21 PM]
cho anh xin cái tên github của em

Evatron — 08/04/2022
E-vaTRON

TotechsStrypper — 08/04/2022
done đã gửi

Evatron — 08/04/2022
done đã push
[8:37 PM]
cứu cuộc đời em vs

TotechsStrypper — 08/04/2022
ok để anh xem
[8:45 PM]
vl cha ==
[8:45 PM]
tập cái tính này
[8:45 PM]
ai lại push lên cái bin với obj
[8:47 PM]
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
Expand
message.txt
5 KB

Evatron — 08/04/2022
em quên cho cái kia vào r
[8:47 PM]

[8:48 PM]
h sao
[8:48 PM]
tháo xuống thêm vào hử

TotechsStrypper — 08/04/2022
git remove cache với cái đống file bin và obj
[8:48 PM]
ko
[8:48 PM]
tạo 1 file gitignore với nội dung bên trên
[8:49 PM]
rồi xài cái này 
git rm --cached bin
git rm --cached obj

Evatron — 08/04/2022
ok anh

TotechsStrypper — 08/04/2022
xong push lên 1 phát là bọn kia bay hết

Evatron — 08/04/2022
em chạy 2 cái lệnh nó 0 có cái file nào hết
[8:53 PM]
ý là 0 cái nào match
TotechsStrypper
 started a call that lasted 7 minutes.
 — 08/04/2022

TotechsStrypper — 08/04/2022
git rm -r --cached .
Evatron
 started a call that lasted an hour.
 — 08/04/2022

TotechsStrypper — 08/04/2022
UMCU4E
August 5, 2022
TotechsStrypper
 started a call that lasted a few seconds.
 — Yesterday at 10:10 PM

Evatron — Yesterday at 10:10 PM
ủa
[10:10 PM]
sao 0 thấy nó hiện thông báo
[10:10 PM]
burrrr

TotechsStrypper — Yesterday at 10:13 PM
vào channel của totechs đi em

Message @Evatron
﻿




2000 characters remaining
 to select
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# ignore Xamarin.Android Resource.Designer.cs files
**/*.Droid/**/[Rr]esource.[Dd]esigner.cs
**/*.Android/**/[Rr]esource.[Dd]esigner.cs
**/Android/**/[Rr]esource.[Dd]esigner.cs
**/Droid/**/[Rr]esource.[Dd]esigner.cs

# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# DNX
project.lock.json
artifacts/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding add-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml
**/.DS_Store

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Visual Studio Code
.vscode